/* Text color classes for theme contrast */
.light-text {
    color: #fff;
}
.dark-text {
    color: #222;
}
.bCard{
    padding: 0;
    text-align: left;
}
.themeChoice{
    border-radius: 15%;
    width: 50px;
    height: 50px;
    background-color: white;
}